* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F8F6F0;
  font-family: "Zen Maru Gothic", sans-serif;
  height: 100%;
  margin-top: 5rem;
}

.l-headerPnav .fa-arrow-up-right-from-square {
  color: #D09B2D;
}
.l-headerPnav .link-blank {
  font-size: 1rem;
  color: #43392F;
  text-decoration: none;
  margin: 0.3rem;
}
.l-headerPnav .link-blank:hover {
  text-decoration: underline;
  text-decoration-color: #43392F;
}
.l-headerPnav .link-blank-right {
  color: #43392F;
  font-size: 1.3rem;
  margin-left: 1.8rem;
  text-decoration: none;
}
.l-headerPnav .link-blank-right:hover {
  text-decoration: underline;
}
.l-headerPnav span {
  margin: 0.5rem;
}

.nav-item .sub-menu {
  color: #1D4F34;
  margin-left: 1.6rem;
  position: absolute;
}
.nav-item .nav-link {
  font-size: 1.2rem;
  color: #1B1814;
  border-radius: 0.5rem;
  background-color: #FFFFFF;
  margin: 0.5rem;
  margin-top: 1rem;
}
.nav-item .nav-link:hover {
  background-color: #D09B2D;
  color: #FFFFFF;
}

.carousel-inner {
  margin-top: 2.5rem;
  margin-left: 1.5rem;
  border-radius: 100px 0 0 100px;
}

.home-news {
  margin: 5rem;
}
.home-news h2 {
  text-align: center;
  margin: 5rem;
}
.home-news a {
  text-decoration: none;
}
.home-news .card {
  width: 85%;
}
.home-news .card:hover {
  background-color: #43392F;
  color: #FFFFFF;
}
.home-news .card .date {
  font-size: 1.2rem;
  background-color: #43392F;
  color: #FFFFFF;
  display: inline;
  padding: 0em 1.2em 0.3em 1.1em;
  border-radius: 0.2rem;
  letter-spacing: 0.1em;
}
.home-news .card .date:hover {
  background-color: #D09B2D;
  color: #FFFFFF;
}
.home-news .card .card-title {
  margin: 1.5rem;
  padding: 1.5rem;
  margin-left: 5px;
  text-align: center;
}
.home-news .note {
  text-align: center;
  margin-top: 5rem;
}
.home-news .note a {
  color: #43392F;
  text-decoration: underline;
}
.home-news .note a:hover {
  color: #D09B2D;
  text-decoration: underline;
}

.home-about {
  position: relative;
  padding: 5rem;
}
.home-about h2 {
  writing-mode: vertical-rl;
  position: absolute;
  left: 3.5rem;
  top: 0;
  letter-spacing: 1rem;
  font-size: 2.5rem;
  z-index: 2;
}
.home-about .total {
  position: relative;
  z-index: 1;
}
.home-about .home-body {
  position: relative;
  width: 100%;
  font-size: 1.2rem;
  display: flex;
}
.home-about .home-text {
  background-color: #FFFFFF;
  padding: 4.5rem;
  width: 100%;
}
.home-about .more {
  margin-top: 3.5rem;
}
.home-about .more a {
  color: #1B1814;
}
.home-about .more a:hover {
  color: #D09B2D;
}
.home-about .image-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 1rem;
  transform: translate(0%, -50%);
}
.home-about .image-overlay img {
  width: 100%;
  height: auto;
  animation: rotateImage 100s infinite linear;
}

@keyframes rotateImage {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.info {
  width: 100%;
  background-color: #FCFBF6;
}
.info h2 {
  padding: 2rem;
  display: inline-block;
  margin-left: 5rem;
  background-color: #FFFFFF;
}
.info .info-body {
  margin: 5rem;
  font-size: 1.5rem;
}
.info .info-img {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 5.5rem;
  align-items: center;
  padding: 1.5rem;
}
.info .info-img img {
  max-width: 100%;
  border-radius: 25px;
}

.home-join {
  margin: 5rem;
  display: flex;
  align-items: flex-end;
}
.home-join h2 {
  writing-mode: vertical-rl;
  left: 3.5rem;
  top: 0;
  letter-spacing: 1rem;
  font-size: 3.5rem;
  padding: 1rem;
  background-color: #FFFFFF;
}
.home-join .join-text {
  margin-left: 5rem;
  font-size: 1.2rem;
}

.goods {
  margin: 5rem;
}
.goods h3 {
  border-left: 5px solid #D09B2D;
  padding-left: 1rem;
  letter-spacing: 0.5rem;
  margin-bottom: 5rem;
}
.goods .card {
  max-width: 100%;
  height: 100%;
  border-radius: 1.5rem;
}
.goods .card:hover {
  background-color: #43392F;
  color: #FFFFFF;
  border-radius: 1.5rem;
}
.goods .card img {
  border-radius: 1.5rem 1.5rem 0 0;
}
.goods .card .card-title {
  padding: 3rem;
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.3rem;
}

.volunteer, .donation {
  margin: 5rem;
}
.volunteer h3, .donation h3 {
  border-left: 5px solid #D09B2D;
  padding-left: 1rem;
  letter-spacing: 0.5rem;
  margin-bottom: 5rem;
}
.volunteer .card, .donation .card {
  border-radius: 1.5rem;
  max-width: 100%;
  height: auto;
}
.volunteer .card img, .donation .card img {
  width: 100%;
  height: 100%;
  border-radius: 1.5rem 0 0 1.5rem;
}
.volunteer .card-body, .donation .card-body {
  padding: 3rem;
  letter-spacing: 0.05rem;
  font-size: 1.1rem;
}
.volunteer .card-body p, .donation .card-body p {
  letter-spacing: 0.04rem;
  line-height: 2;
}
.volunteer .card-body a, .donation .card-body a {
  color: #1B1814;
}
.volunteer .card-body a:hover, .donation .card-body a:hover {
  color: #D09B2D;
}

.home-instagram {
  background-color: #FCFBF6;
  margin: 5rem;
  padding: 5rem;
  position: relative;
}
.home-instagram .leaf-title {
  background-color: #D09B2D;
  height: 64px;
  width: 50px;
  background-image: url("../01-moritoodoru/img/title-leaf-1.png");
  background-repeat: no-repeat;
  background-size: contain;
  top: 10%;
  right: 50%;
  transform: translate(0%, -50%);
  position: absolute;
}
.home-instagram .instagram-body {
  position: relative;
  top: 0;
  margin-top: 5rem;
}
.home-instagram h3 {
  writing-mode: vertical-rl;
  letter-spacing: 1.2rem;
  margin-left: 6rem;
  justify-content: center;
}
.home-instagram .text {
  font-size: 1.1rem;
}
.home-instagram .instagram-img {
  display: flex;
}
.home-instagram .instagram-img .instagram-feed-images {
  justify-content: space-between;
  width: 20%;
  height: 250px;
  margin: 0 auto;
  position: relative;
}
.home-instagram .instagram-img .instagram-feed-images a:hover {
  opacity: 0.9;
}
.home-instagram .instagram-img img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}
.home-instagram .instagram-img i {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  font-size: 1.5rem;
  color: #ffffff;
}
.home-instagram .instagram-more {
  text-align: center;
  margin-top: 2rem;
}
.home-instagram .instagram-more a {
  color: #1B1814;
}
.home-instagram .instagram-more a:hover {
  color: #D09B2D;
}
.home-instagram .instagram-more a .fa-arrow-up {
  color: #D09B2D;
  font-size: 0.8rem;
  transform: rotate(45deg);
  margin-left: 0.4rem;
}
.home-instagram .instagram-more a .fa-arrow-up:hover {
  animation: blink 1s ease-in-out;
  transition: transform 0.3s;
}

@keyframes blink {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-45px);
  }
}
footer {
  display: block;
  height: 100%;
  background-color: #43392F;
  color: #ffffff;
}
footer a {
  color: #ffffff;
  text-decoration: none;
}
footer .fa-arrow-up-right-from-square {
  color: #D09B2D;
}
footer .footer-title {
  display: flex;
}
footer .footer-title h2 {
  margin: 3.5rem 0.5rem 0.5rem 3.5rem;
}
footer .footer-title .facebook {
  display: flex;
  margin: 3.5rem 0.5rem 0.5rem 1.5rem;
}
footer .footer-title .facebook span {
  margin: 0.7rem 0.7rem 0.6rem 0.3rem;
}
footer .footer-about {
  margin: 0rem 0rem 0rem 3rem;
}
footer .footer-about .footer-about-link {
  padding: 0.5rem;
}
footer .footer-about .footer-about-link:hover {
  text-decoration: underline;
}
footer .footer-about .footer-thebase {
  margin: 1.5rem 0rem 0rem 0rem;
}
footer .footer-about .footer-thebase span {
  margin: 0.7rem 0.7rem 0.6rem 0.7rem;
}
footer .footer-subscribe {
  margin: 3.5rem;
}
footer .footer-subscribe .subscribe {
  display: inline-flex;
  margin: 3.5rem;
}
footer .footer-subscribe label {
  margin-top: 2rem;
  padding-right: 1rem;
  letter-spacing: 0.06rem;
}
footer .footer-subscribe button {
  background-color: #FCFBF6;
}
footer .footer-subscribe button:hover {
  background-color: #FCFBF6;
  color: #43392F;
}
footer .footer-copyright {
  margin-left: 3.5rem;
}/*# sourceMappingURL=moritoodoru.css.map */