*
    margin: 0
    padding: 0
body
    background-color: #F8F6F0
    font-family: 'Zen Maru Gothic', sans-serif
    margin:1.5rem

.l-headerPnav
    .fa-arrow-up-right-from-square
        color: #D09B2D
    .link-blank 
        font-size:1rem
        color:#43392F
        text-decoration: none
        margin: 0.3rem
        &:hover
            text-decoration: underline
            text-decoration-color: #43392F
    .link-blank-right
        color: #43392F
        font-size: 1.3rem
        margin-left: 1.8rem
        text-decoration: none
        &:hover
            text-decoration: underline
    span
        margin: 0.5rem

.nav-item
    .sub-menu
        color:  #1D4F34
        margin-left: 1.6rem
        position: absolute
    .nav-link
        font-size:1.2rem
        color:#1B1814
        border-radius: 0.5rem
        background-color: #FFFFFF
        margin: 0.5rem
        margin-top: 1rem
        &:hover
            background-color: #D09B2D
            color: #FFFFFF

.carousel-inner
    margin-top: 2.5rem
    margin-left: 1.5rem
    border-radius:100px 0 0 100px

section
    margin: 5rem
    h2
        text-align: center
        margin: 5rem
    .date
        font-size: 1.2rem
        background-color: #43392F
        color: #FFFFFF
        display: inline
        padding:0em 1.2em 0.3em 1.1em
        border-radius:0.2rem
        letter-spacing: 0.1em
    .card-title
        margin-left: 5px
        text-align: center
   .img
        width: 100%
        height: auto
        object-fit: cover
